/*************
* Variables
*************/
$black: #1c1c1c;
$light-gray: #e5e5e5;
$dark-gray: #d1d5db;

// Light mode
:root {
    --p-color: #2b283a;
    --main-bg: white;
    // Can't use Sass variables here...
    // --btn-border: 1px solid $dark-gray;
    --btn-border: 1px solid #d1d5db;
    --btn-bg: white;
    --btn-color: #3d4b60;
    --select-color: #111827;
    --selected-color: #111827;
    --arrow-icon: url(../images/arrow-light.svg);
    --check-icon: url(../images/check-light.svg);
}

// Dark mode
@media (prefers-color-scheme: dark) {
    :root {
        --p-color: #d5d4d8;
        --main-bg: #1f2937;
        --btn-border: none;
        --btn-bg: #3d4b60;
        --btn-color: white;
        --select-color: white;
        --selected-color: #d5d4d8;
        --arrow-icon: url(../images/arrow-dark.svg);
        --check-icon: url(../images/check-dark.svg);
    }
}

/*************
* Typography
*************/
html {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: var(--p-color);
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
    font: inherit;
}

.select-wrapper {
    div {
        text-transform: capitalize;
        font-weight: 400;
        font-size: 16px;
        color: var(--select-color);
    }

    .select-selected {
        color: var(--selected-color);
    }

    .select-option-selected {
        font-weight: 600;
    }
}

/**********
* Layout
**********/
body {
    background-color: $black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--main-bg);
    width: 550px;
    height: 550px;
}

form {
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 23px 15px 25px 14px;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
    // This is necessary for the box-shadow to work
    position: relative;
}

#hex {
    width: 61px;
    height: 42px;
    margin-right: 17px;

    background-color: $dark-gray;
    border: 0.5px solid $light-gray;
    position: relative;
}

// Firefox color picker
::-moz-color-swatch,
input[type="color" i]::-webkit-color-swatch {
    border: 0.5px solid #313131;
    box-sizing: content-box;
    width: 51px;
    height: 34px;

    // For some reason I couldn't make this a flex child,
    // so I had to center it in the old-fashioned way.
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Chrome and Safari color picker
// When I tried using a comma in the previous ruleset it didn't work.
// Instead I had to repeat essentialy the same rules here
input[type="color" i]::-webkit-color-swatch {
    border: 0.5px solid #313131;
    box-sizing: content-box;
    width: 51px;
    height: 34px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // Necessary for Safari
    border-radius: 0;
}

// Check icon
.select-option-selected::after {
    content: "";
    display: inline-block;
    background-image: var(--check-icon);
    width: 20px;
    height: 20px;
}

button {
    width: 123px;
    height: 42px;
    margin-left: 13px;
    color: var(--btn-color);
    background-color: var(--btn-bg);
    border: var(--btn-border);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    transition: filter 200ms;
}

button:hover {
    filter: brightness(0.9);
}

button:active {
    filter: brightness(0.8);
}

.colors {
    display: flex;
    height: 460px;
}

.color {
    margin: 0;
    width: 20%;
    div {
        width: 100%;
        height: 414px;
    }

    p {
        margin: 0;
        height: 46px;
        line-height: 46px;
        text-align: center;
    }
}

/****************
* Custom Select
****************/

.select-wrapper {
    position: relative;
}

// Hide original select
.select-wrapper > select {
    display: none;
}

.select-options {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -2px rgba(0, 0, 0, 0.05),
        0px 0px 0px 1px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    position: absolute;
    top: calc(100% + 3px);
    background-color: var(--main-bg);
}

.select-selected,
.select-options > div {
    width: 312px;
    padding: 0 13px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-selected {
    height: 42px;
    line-height: 42px;
    // Needs to change
    // margin-bottom: 3px;
    border: 1px solid $dark-gray;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.select-options > div {
    height: 40px;
    line-height: 40px;
}

// Arrow
.select-selected::after {
    content: "";
    display: inline-block;
    background-image: var(--arrow-icon);
    width: 20px;
    height: 20px;
}

.select-hide {
    display: none;
}
